* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: sans-serif; }

.form {
  display: grid;
  grid-gap: 20px; }

.form-email__title {
  display: block;
  font-size: 13px;
  color: #57606a;
  padding-bottom: 10px; }

.form-email__inp {
  flex-grow: 1;
  width: 260px;
  height: 33px;
  border-radius: 5px;
  border: 1px solid gainsboro; }

#input:hover {
  border: 1px solid #0969DA; }

.button__btn {
  flex-grow: 1;
  width: 260px;
  height: 33px;
  border-radius: 5px;
  background: #30a14e;
  border: 1px solid #30a14e; }

.button__link {
  text-decoration: none;
  color: white;
  font-size: 14px; }

.password {
  display: flex;
  justify-content: space-between; }
  .password__title {
    font-size: 13px;
    color: #57606a;
    font-family: sans-serif; }
  .password__link {
    font-size: 15px;
    font-family: sans-serif;
    text-decoration-line: none;
    color: #0969DA;
    font-size: 12px; }

.account {
  border: 1px solid gainsboro;
  width: 300px;
  height: 50px;
  margin-top: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; }
  .account__title {
    font-size: 14px;
    font-family: sans-serif;
    color: #57606a; }
  .account__link {
    font-size: 14px;
    font-family: sans-serif;
    color: #0969DA;
    text-decoration: none; }
  .account__link:hover {
    text-decoration-line: underline; }

.links {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  gap: 20px; }
  .links__link {
    font-size: 12px;
    text-decoration: none;
    color: #0969DA; }
  .links__link:hover {
    text-decoration-line: underline; }
  .links__new {
    font-size: 12px;
    text-decoration: none;
    color: #57606a; }
  .links__new:hover {
    text-decoration-line: underline;
    color: #0969DA; }

.main {
  display: grid;
  justify-content: center;
  align-self: center; }

.main-log {
  width: 30%;
  margin: 0% auto;
  padding-top: 40px;
  padding-bottom: 30px; }

.main-form {
  background-color: #f6f8fa;
  width: 300px;
  height: 250px;
  border: 1px  solid gainsboro;
  border-radius: 6px;
  padding: 16px; }

.main-title__title {
  font-size: 24px;
  font-weight: 1;
  letter-spacing: -0.5px;
  text-align: center;
  color: #57606a;
  padding-bottom: 15px;
  font-family: sans-serif;
  text-shadow: none; }
