* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: sans-serif; }

.contanier {
  display: grid;
  grid-template-columns: 15%  80%; }

body {
  background: red; }

.main-content {
  background: gray; }
