
.main {
    display: grid;
    justify-content: center;
    align-self: center;
}
.main-log {
    width: 30%;
    margin: 0% auto;
    padding-top: 40px;
    padding-bottom: 30px;
}
.main-form {
    background-color: #f6f8fa;
    width: 300px;
    height: 250px;
    border: 1px  solid gainsboro;
    border-radius: 6px;
    padding:16px;
}

.main-title {
    &__title {
    font-size: 24px;
    font-weight: 1;
    letter-spacing: -0.5px;
     text-align: center;
     color:#57606a;
     padding-bottom: 15px;
     font-family: sans-serif;
     text-shadow: none;
    }
}
